body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.camera-item
{
    width: 25rem;
}
footer
{
    box-sizing: none;
    margin-top: auto;
}
#camera-specifics
{
    font-size: larger;
}